* {
    max-width: 100%;
    /* color: #ab0914; */
}

.body_style {
    background-color: #f7e4e4ab;
}

.form_top {
    padding-top: 2rem;
}

.userImage {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background: #ab0914;
    background: linear-gradient(24deg, #ab0914 0%, rgb(249, 236, 236) 100%);
    /* border-radius: 15%; */
}

.userImageDashboard {
    width: 10px;
    height: 10px;
}

.img-thumbnail {
    width: 50px;
    height: 50px;
}

td {
    text-align: left;
    vertical-align: middle;
}

tr {
    text-align: center;
}

.txt {
    color: #ab0914;
}

.logged_user {
    height: 10em;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.image-size {
    object-fit: cover;
    /* height: 50px; */
}

.intro_animal {
    text-decoration: none;
}

.intro_animal_adopt {
    text-decoration: none;
}

.congrat_photo {
    width: 30vw;
}

.congrat_breed {
    font-size: 2vw;
}

.anim_size {
    width: 10rem;
}